/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

header {
  padding: 5px;
}


/*
 * Base structure
 */

html,
body {
  /* height: 100%; */
  background-size: 100%;
  /* background-color: #333; */
  /* background-image: url("https://3.bp.blogspot.com/-P1-LISnxYRQ/V-lU-qB6l0I/AAAAAAAAIwY/ocnVcc0HmEsjpz-SxNBQ4_stqIe4o4a8ACLcB/s1600/Nmap.jpg"); */
  opacity: .95;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  display: -ms-flexbox;
  display: flex;
  /* color: #fff; */
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

header.masthead.mb-auto {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* ul#web_form {
  background-color: #2c1e41;
  opacity: .95;
  padding: 5%;
} */

#submission_form {
  text-align: center;
}

footer {
  align-content: center;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#nmap {
    padding: 40px;
    background-image: url("https://3.bp.blogspot.com/-P1-LISnxYRQ/V-lU-qB6l0I/AAAAAAAAIwY/ocnVcc0HmEsjpz-SxNBQ4_stqIe4o4a8ACLcB/s1600/Nmap.jpg");
    background-size: 100%;
    color: white;
}

#wpscan {
    padding: 40px;
    /* margin-bottom: 12px; */
    background-image: url("http://cdn2.wpbeginner.com/wp-content/uploads/2016/08/wpsecurity.jpg");
    /* background-position: center; */
    background-size: 100%;
    /* background-repeat: no-repeat; */
    /* text-align: left; */
    color: white;
}

#nikto {
    padding: 150px;
    /* margin-bottom: 12px; */
    background-image: url("https://1.bp.blogspot.com/-NknTGII_itU/UcBwkJNoNLI/AAAAAAAABv8/P2-EVlg-HQs/s1600/nikto.png");
    background-position: center;
    background-size: contain;
    /* background-repeat: no-repeat; */
    text-align: center;
}

#whatweb {
    padding: 40px;
    /* margin-bottom: 12px; */
    background-image: url("https://www.morningstarsecurity.com/wp-content/uploads/2019/02/WhatWeb-Logo-800px.png");
    /* background-position: center; */
    background-size: 100%;
    /* background-repeat: no-repeat; */
    /* text-align: left; */
    color: white;
}

#sslyze {
    padding: 40px;
    /* margin-bottom: 12px; */
    background-image: url("https://www.bravotech.com/wp-content/uploads/2015/01/IT-Security-Key.jpg");
    /* background-position: center; */
    background-size: 100%;
    /* background-repeat: no-repeat; */
    /* text-align: left; */
    color: white;
}

#block_gray {
    background-color: darkgray;
    opacity: .95;
}

#block_purple {
  background-color: #2c1e41;
  opacity: .95;
}

#block_black {
  background-color: black;
  opacity: .98;
}