
html,
button,
input,
select,
textarea {
    color: #222;
}
   
html {
    /* height: 100%; */
    /* display: grid; */
    font-size: 1em;
    line-height: 1.4;
    justify-content: center;
    background-color: #cccccc;
    font-family: sans-serif;
}

body {
    padding: 5%;
    margin: 20px;
    top: 20px;
    background-color: lightgrey;
    /* height: min-content; */
    width: auto;
    /* justify-content: center; */
    opacity: .95;
    text-align: center;
}

#web_form {
    text-align: justify;
}

a.navlink {
    text-decoration: none;
    font-size: 28px;
    padding: 15px;
}

#nav {
    display: inline;
}

ul#nav {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    background-color: darkgray;
}

li {
    display: inline;
}
   
.nmap {
       padding: 40px;
       background-image: url("https://3.bp.blogspot.com/-P1-LISnxYRQ/V-lU-qB6l0I/AAAAAAAAIwY/ocnVcc0HmEsjpz-SxNBQ4_stqIe4o4a8ACLcB/s1600/Nmap.jpg");
       background-size: 100%;
}

.wpscan {
       padding: 150px;
       /* margin-bottom: 12px; */
       background-image: url("http://cdn2.wpbeginner.com/wp-content/uploads/2016/08/wpsecurity.jpg");
       background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
       text-align: center;
}

.nikto {
    padding: 150px;
    /* margin-bottom: 12px; */
    background-image: url("https://1.bp.blogspot.com/-NknTGII_itU/UcBwkJNoNLI/AAAAAAAABv8/P2-EVlg-HQs/s1600/nikto.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
   


   