<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Network Scanning Utilities">
    <meta name="author" content="Josh Sisto">
    <title>Network Scanning Utilities</title>
    <link href="../static/600px-Angry_ip_scan_logo.svg.png" rel="icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/cover.css">
  </head>
 

  <body id="nikto">
    <div id="block_gray" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
        <h3 class="masthead-brand">Nikto Scan</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Main</a>
            <a class="nav-link" href="/nmap">NMAP</a>
            <a class="nav-link" href="/nikto">Nikto</a>
            <a class="nav-link" href="/wpscan">WPScan</a>
            <a class="nav-link" href="/whatweb">WhatWeb</a>
            <a class="nav-link" href="/sslyze">sslyze</a>
        </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <div id=submission_form>
          <h1 class="cover-heading">Nikto Scan</h1>
          <p class="lead">
            <h4>Site scan results for {{ scanned_url }} will be emailed to {{ email_dest }}</h4>
          </p>
        </div>
    </main>

  </body>
  

    <footer>
      <!-- <p>&copy; Josh Sisto 2019</p> -->
      <p>Code hosted on <a href="https://gitlab.com/joshsisto/scanner_app">GitLab</a></p>
    </footer>

</html>
