<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Network Scanning Utilities">
    <meta name="author" content="Josh Sisto">
    <title>Network Scanning Utilities</title>
    <link href="../static/600px-Angry_ip_scan_logo.svg.png" rel="icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/cover.css">
  </head>
 

  <body id="sslyze">
    <div id="block_purple" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
        <h3 class="masthead-brand">sslyze scan</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Main</a>
            <a class="nav-link" href="/nmap">NMAP</a>
            <a class="nav-link" href="/nikto">Nikto</a>
            <a class="nav-link" href="/wpscan">WPScan</a>
            <a class="nav-link" href="/whatweb">WhatWeb</a>
            <a class="nav-link" href="/sslyze">sslyze</a>
        </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <div id=submission_form>
            <h1 class="cover-heading">sslyze scan</h1>
            {% if check_credentials == False %}
            <h3 style="color:red">WARNING</h3>
            <h3 style="color:red">credentials.py file not set</h3>
            <h3 style="color:red">Emails will not send until file is created and variables are set</h3>
            <h3 style="color:red">checkout the <a href="https://gitlab.com/joshsisto/scanner_app/-/blob/master/README.md" >README</a> for more details</h3>
            {% endif %}
            <!-- <p class="lead">Some Text</p> -->
            <p class="lead">
            <!-- <a href="#" class="btn btn-lg btn-secondary">Learn more</a> -->
            <form action='/sslyze' method='POST'>
                <!-- <input type="text" name="URL_INPUT" required="" /><br> -->
                <!-- <input type="submit" name="submit" value="submit" /> -->
                <div class="form-group">
                  <label id="URL-to-scan" for="url-scan">Enter URL To Scan</label>
                  <input
                    type="text"
                    name="URL_INPUT"
                    id="URL"
                    class="form-control"
                    placeholder="Enter URL To Scan"
                    required
                  />
                </div>
                <div class="form-group">
                  <label id="email-label" for="email">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Enter your Email"
                    required
                  />
                </div>
                <div class="form-group">
                  <button type="submit" id="submit" class="submit-button">
                    Submit
                  </button>
                </div>
            </form>
            
        </div>            
        </p>
    </main>

  </body>
  

    <footer>
      <!-- <p>&copy; Josh Sisto 2019</p> -->
      <p>Code hosted on <a href="https://gitlab.com/joshsisto/scanner_app">GitLab</a></p>
    </footer>

</html>
